Repository EveryAnalytics/react-analytics-provider, pull requests merged in 2021-09, with the labels that each got.

#181 docs: replace npm scripts to yarn (in PR template)
  .github/pull_request_template.md
Labels: 📖 documentation

#164 ci: codecov를 활용한 테스트 커버리지 확인하기
  .github/workflows/ci.yml
  .gitignore
  .npmignore
  package.json
Labels: 🧪 test

#170 test: googleAnalytics.event테스트 코드 작성
  tests/utils/googleAnalytics/event.test.ts
Labels: 🧪 test

#190 fix: "test: googleAnalytics.event테스트 코드 작성" global 사용으로 인한 CI 오류 발생
  tests/utils/googleAnalytics/event.test.ts
Labels: 🧪 test

#180 feat: update useAnalyticsPageView parameter
  src/hooks/useAnalyticsPageView.ts
  tests/hooks/useAnalyticsPageView.test.ts
Labels: enhancement, 🧪 test

#160 feat: with-nextjs demo app에 AnalyticsClick 추가
  demo/with-nextjs/package-lock.json
  demo/with-nextjs/src/pages/products/index.tsx
Labels: 🧸 demo

#185 test: googleAnalytics set
  tests/utils/googleAnalytics/set.test.ts
Labels: 🧪 test

#97 feat: GA 연동 - exception 함수 추가
  src/utils/googleAnalytics/exception.ts
  src/utils/googleAnalytics/index.ts
Labels: enhancement

#195 test: amplituedeHelper.initialize
  package.json
  tests/utils/googleAnalytics/amplitude/initialize.test.ts
Labels: 🧪 test, amplitude

#194 feat: add amplitudeHelper.Revenue, logRevenueV2
  src/utils/amplitude/index.ts
  src/utils/amplitude/logRevenueV2.ts
  tests/utils/amplitude/logRevenueV2.test.ts
Labels: ✨ new feature, amplitude

#198 fix: Update .yarnrc.yml to resolve wallaby-jest runtime deps issue
  .pnp.cjs
  .yarnrc.yml
  yarn.lock
Labels: 🐛 bug

#201 feat: amplitudeHelper.setUserId Feature & TC 구현
  src/utils/amplitude/index.ts
  src/utils/amplitude/setUserId.ts
  tests/utils/amplitude/setUserId.test.ts
Labels: 🧪 test, ✨ new feature

#76 feat: isSSR 구현
  src/utils/executionEnv/index.ts
  src/utils/index.ts
  tests/executionEnv/executionEnv.spec.ts
Labels: ✨ new feature

#202 feat: Amplitude setUserProperties 추가 & test: Amplitude setUserProperties
  src/utils/amplitude/index.ts
  src/utils/amplitude/setUserProperties.ts
  tests/utils/amplitude/setUserProperties.test.ts
Labels: 🧪 test, amplitude

#210 fix: Update package.json to change license type
  .npmignore
  package.json
Labels: 🐛 bug
