Repository EveryAnalytics/react-analytics-provider, pull requests merged in 2021-11, with the labels that each got.

#247 feat: add cart component
  demo/with-cra/mocks/ecommerce/categories.json
  demo/with-cra/mocks/ecommerce/products.json
  demo/with-cra/src/components/Header.tsx
  demo/with-cra/src/components/Main.tsx
  demo/with-cra/src/components/ProductCartItems.tsx
  demo/with-cra/src/components/ProductCartLayout.tsx
  demo/with-cra/src/components/ProductNav.tsx
  demo/with-cra/src/mocks/ecommerce/categories.json
  demo/with-cra/src/mocks/ecommerce/products.json
  demo/with-cra/src/pages/CartPage/index.tsx
  demo/with-cra/types/common.ts
  demo/with-cra/typings/global.d.ts
Labels: 🧸 demo

#234 feat: add mypage for demo app
  demo/with-cra/src/App.tsx
  demo/with-cra/src/components/NavBar.tsx
  demo/with-cra/src/components/Select.tsx
  demo/with-cra/src/pages/MyPage/index.tsx
Labels: 🧸 demo

#258 feat: implement context api
  demo/with-cra/src/App.tsx
  demo/with-cra/src/contexts/MainContext.tsx
Labels: 🧸 demo, ✨ new feature

#248 feat: create purchase page
  demo/with-cra/src/App.tsx
  demo/with-cra/src/components/ProductCartItems.tsx
  demo/with-cra/src/pages/PurchasePage/index.tsx
Labels: ✨ new feature

#251 feat: add product detail page
  .pnp.cjs
  .yarn/cache/history-npm-5.1.0-312a8162fd-c978710a18.zip
  .yarn/cache/react-router-dom-npm-6.0.1-11e16f660a-cc2d80536f.zip
  .yarn/cache/react-router-npm-6.0.1-737b7bfc7a-66bbaaa986.zip
  demo/with-cra/package.json
  demo/with-cra/src/App.tsx
  demo/with-cra/src/components/Buttons.tsx
  demo/with-cra/src/components/Header.tsx
  demo/with-cra/src/components/NavItem.tsx
  demo/with-cra/src/components/ProductNav.tsx
  demo/with-cra/src/components/index.ts
  demo/with-cra/src/index.tsx
  demo/with-cra/src/pages/ProductsPage/ProductDetailPage.tsx
  demo/with-cra/src/pages/ProductsPage/ProductListPage.tsx
  demo/with-cra/src/pages/ProductsPage/index.tsx
  demo/with-cra/src/pages/PurchasePage/index.tsx
  demo/with-cra/src/pages/index.ts
  demo/with-cra/src/router/index.ts
  yarn.lock
Labels: 🧸 demo
